@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 75px;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    padding-top: 2px;
    display: flex;
    align-items: center;
}

.header__image{
    margin-left:10px;
    border: 3px solid #000000;
    border-radius: 50%;
}

.header__title span{
    font-family: 'Satisfy',cursive;
    font-weight: 700;
    font-size: 25px;
    margin-left: 15px;
}

.menu__mobile{
    color: #7300d8;
    display: none;
    /*margin:0 25px 0 25px;*/
    font-size: xx-large;
}

.menu__mobile i:hover{
    color:rgba(0, 195, 192);
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: end;
}
.menu ul{
    padding-top: 15px;
    list-style: none;
    font-size: 18px;
    display: flex;
}

.menu ul li{
    display:flex;
    padding: 0 15px;
}

.menu ul li a{
    color: #7300d8;
}

.menu ul li a:hover{
    color:rgba(0, 195, 192);
    text-decoration: none;
}

.menu--separator{
    border-right: 2px solid #000000;
}

a i{
    font-size: x-large;
}

.sidemenu{
    padding: 0 !important;
}

.sidemenu__image{
    border-radius: 50%;
    border: 3px solid #fff;
}

.offcanvas-body{
    padding: 0 !important;
}

.nav-item{
    margin-top: 10px;
    padding-left: 10px;
    margin-left: 14px;
}

.nav-item:hover{
    border-radius: 10px;
    background-color:#7300d8;
    color:white;
}

.sidemenu__title{
    color: white !important;
    background-color: #7300d8;
}

.sidemenu__socials{
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    
}

.sidemenu__socials a i{
    font-size: xx-large;
    color:#7300d8
}

.sidemenu__socials a i:hover{
    color:rgba(0, 195, 192);
}

main{
    margin-top: 75px;
    background-image: url(/images/circle-scatter-haikei.png);
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 100px);
    animation-name: backgroundMain; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 6s;
}

@keyframes backgroundMain{
	0%{
        background-image: url(/images/circle-scatter-haikei\ \(1\).png);
	}
	10%{
        background-image: url(/images/circle-scatter-haikei\ \(2\).png);
    }
	20%{
        background-image: url(/images/circle-scatter-haikei\ \(3\).png);

	}
    30%{
        background-image: url(/images/circle-scatter-haikei\ \(4\).png);

	}
	40%{
        background-image: url(/images/circle-scatter-haikei\ \(5\).png);

	}
	50%{
        background-image: url(/images/circle-scatter-haikei\ \(6\).png);

	}
    60%{
        background-image: url(/images/circle-scatter-haikei\ \(7\).png);

	}
	70%{
        background-image: url(/images/circle-scatter-haikei\ \(8\).png);

	}
	80%{
        background-image: url(/images/circle-scatter-haikei\ \(9\).png);

	}
    90%{
        background-image: url(/images/circle-scatter-haikei\ \(10\).png);

	}
	100%{
        background-image: url(/images/circle-scatter-haikei\ \(11\).png);
	}
}



.main__content{
    width: 60%;
    padding-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
}

.main__content__title{
    width: 80%;
    padding-left: 100px;
    margin-bottom: 30px;
}

.main__content__title .title1{
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

.main__content__title .title2{
    text-align: right;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;

}

.main__content p{
    text-align: justify;
    font-size: 18px;
}

p .emphasis1{
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
}

p .emphasis2{
    color: rgb(168, 255, 254);
    font-style:oblique;
    font-size: 17px;
}

p .emphasis3{
    font-size:19px;
    font-weight: bolder;
}

.main__content button{
    margin: 20px 0;
    padding:20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    box-shadow: -4px 4px 3px;
}

.main__content button:active{
    box-shadow: -1px 1px 2px;
}

.main__content__button{
    display: flex;
    justify-content: right;
}

footer{
    height: 20px;
    text-align: center;
}

@media screen and (min-width: 1000px) and (max-width:1300px){
    .main__content__title .title1{
        font-size: 60px;
    }
    
    .main__content__title .title2{
        font-size: 30px;
    }
    .main__content p{
        font-size: 15px;
    }
    
    p .emphasis1{
        font-size: 13px;
    }
    
    p .emphasis2{
        font-size: 15px;
    }
    
    p .emphasis3{
        font-size:16px;
    }
    .main__content button{
        padding:15px;
        font-size: 15px;
    }
}

@media screen and (min-width: 700px) and (max-width:1000px){
    .menu__mobile{
        display: flex;
        justify-content: end;
    }
    .menu{
        display: none;
    }
    
    .main__content{
        width: 85%;
        padding-top: 15%;
        margin-left: 10%;
        margin-right: 0;
    }
    
    .main__content__title{
        width: 85%;
        padding-left: 10%;
        margin-bottom: 30px;
    }
    .main__content__title .title1{
        font-size: 55px;
    }
    
    .main__content__title .title2{
        font-size: 30px;
    }
    .main__content p{
        font-size: 15px;
    }
    
    p .emphasis1{
        font-size: 13px;
    }
    
    p .emphasis2{
        font-size: 15px;
    }
    
    p .emphasis3{
        font-size:16px;
    }
    .main__content button{
        padding:10px;
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width:700px){
    .menu__mobile{
        display: flex;
        justify-content: end;
    }
    .menu{
        display: none;
    }

    .main__content{
        width: 90%;
        padding-top: 25%;
        margin-left: 5%;
        margin-right: 0;
    }
    
    .main__content__title{
        width: 90%;
        padding-left: 5%;
        margin-bottom: 30px;
    }

    .main__content__title .title1{
        font-size: 45px;
    }
    
    .main__content__title .title2{
        font-size: 25px;
    }
    .main__content p{
        font-size: 16px;
    }
    
    p .emphasis1{
        font-size: 14px;
    }
    
    p .emphasis2{
        font-size: 15px;
    }
    
    p .emphasis3{
        font-size:17px;
    }
    .main__content button{
        padding:10px;
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width:400px){

    .main__content{
        width: 90%;
        padding-top: 25%;
        margin-left: 5%;
        margin-right: 0;
    }
    
    .main__content__title{
        width: 95%;
        padding-left: 2.5%;
        margin-bottom: 30px;
    }
    .main__content__title .title2{
        font-size: 20px;
    }
}